.sidebar {
    height: 100vh;
    width: 180px;
    margin: 0;
    padding: 0;
}

.sidebar-list {
    height: auto;
    width: 100%;
    padding: 0;
    background-color: #3b3b3b;
}

.sidebar-list .row {
    width: 100%;
    height: 150px;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar-list .row:hover {
    cursor: pointer;
    background-color: gray;
}

.row #icon {
    flex: 30%;
    display: grid;
    place-items: center;
}

.row #title {
    flex: 70%;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.popup-content button {
    margin: 5px;
    padding: 8px 12px;
}

.red #icon, .red #title {
    color: red;
}

/* Timer Popup Specific Styles */
.timer-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.timer-input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.timer-input-group input {
    width: 50px; /* Adjust width as needed */
    margin-right: 5px;
    padding: 8px 12px; /* Add padding for consistency */
    border: 1px solid #ccc; /* Border for input fields */
    border-radius: 4px; /* Round corners */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Consistent font */
    transition: border-color 0.3s; /* Smooth transition */
}

/* Change border color on focus */
.timer-input-group input:focus {
    border-color: #007bff; /* Highlight border on focus */
    outline: none; /* Remove default outline */
}

.am-pm-container {
    display: flex;
    margin-left: 5px;
}

.am-pm-button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: white; /* Default background */
}

.am-pm-button.selected {
    background-color: rgba(0, 0, 0, 0.1); /* Background for selected option */
}

.timer-popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.timer-popup-content button {
    margin: 5px;
    padding: 8px 12px;
}